body{
    margin: 0;
    width: 100vw;
    
}
#container{
    background-color: blue;
    box-sizing: border-box;
    height: 100%;
    padding: 1%;
}
#containerPage{
    background-color: blueviolet;
    box-sizing: border-box;
    height: 100%;
    padding: 1%;
}