body{
    margin: 0;
    width: 100vw;
    
}
#containerView{
    background-color: blue;
    box-sizing: border-box;
    height: 100%;
    padding: 1%;
}
.viewer{
    background-color: blueviolet;
    box-sizing: border-box;
    height: 100%;
    padding: 1%;
}